.tariff{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  margin: 30px 0 50px;
}

.plateBlock{
  display: grid;
  grid-template-columns: 278px 278px 278px;
  grid-template-rows: 496px;
  grid-gap: 19px;
}

.plateSmall{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  justify-content: space-between;

  &__main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__price{
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0.3;
    margin: 0 0 15px 0;
  }

  &__title{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 0 15px 0;
  }

  &__description{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
  }

  &__benefit{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0.7;
  }

  &__purchase{
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #737EFF;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    padding: 7px 57px;
    cursor: pointer;
  }
}

.plateBig{
  background: #737EFF;
  border: 1px solid #737EFF;
  box-sizing: border-box;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__price{
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 0 15px 0;
  }

  &__title{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0 0 45px;
  }

  &__description{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
  }

  &__benefit{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0.7;
  }

  &__purchase{
    background: #6666FF;
    border: 1px solid #737EFF;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 7px 57px;
    margin-bottom: 40px;
    cursor: pointer;
  }
}