.regBlock{
  background: #1A1D1F;
  width: 100vw;
  max-width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  &__header{
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 70px;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.9);
    margin: 20px 0;
  }

  &__button{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #6666FF;
    border: 1px solid #737EFF;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 32px;
    cursor: pointer;
    outline: none;
  }
}