.demo{
  width: 100%;
  min-height: 445px;
  background-color: #1A1D1F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  margin: 20px 0 35px;
}

.label{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 7px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBlock{
  display: flex;
  flex-direction: column;
  margin-bottom: 47px;
}

.field{
  border: 1px solid #B2C5FE;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  width: 625px;
  min-height: 54px;
  padding-left: 17px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #737EFF;
  outline: none;

  &::placeholder{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #737EFF;
  }
}

.regButton{
  background: #4A90E2;
  border-radius: 4px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.altReg{
  display: flex;
  align-items: center;
  margin: 40px 0 30px;

  &__caption{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #F3F3F3;
    margin: 0;
  }

  &__logo{
    margin-left: 30px;
    width: 50px;
    height: 45px;
    cursor: pointer;
  }
}

.signIn{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  color: #F3F3F3;
  margin-bottom: 40px;
}

.signLink{
  color: #737EFF;
  text-decoration: none;
}