.line{
  width: 48px;
  height: 4px;
  background: #5039E5;
}

.clarify{
  width: 1080px;
}

.header{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  margin: 15px 0 30px;
}

.description{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
  max-width: 700px;
  margin: 0 0 22px;
}