.titleRow{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.9);
  height: 55px;
}

.table{
  border-collapse: collapse;
  margin: 57px 0 65px 0;
  width: 1102px;
}

.field{
  border-bottom: 1px solid rgba(196, 200, 203, 0.9);
  text-align: center;
}

.basic{
  width: 144px;
}

.empty{
  width: 222px;
}

.pro,.allInc{
  width: 300px;
}

.option{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.7;
}

.checker{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.uno{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.desc{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
}

.short{
  text-align: center;
}