.auto{
  width: 1080px;
}

.line{
  width: 48px;
  height: 4px;
  background: #5039E5;
}

.header{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 24px;
}

.description{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 0 41px;
  max-width: 456px;
}

.partners{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 65px;
  align-items: center;
}

.partnersPic{
  width: 100px;
}