.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
  color: #EDF6FA;
  margin: 32px 0 24px;
}

.subHeader{
  max-width: 840px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #B8CCD9;
  margin-bottom: 40px;
}

.demo{
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 8px 32px;
  background: #6666FF;
  border: 1px solid #737EFF;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 70px;
  cursor: pointer;
  outline: none;
}

.pic{
  margin-bottom: 21px;
}