.line{
  width: 48px;
  height: 4px;
  background: #5039E5;
}

.main{
  width: 1080px;
  margin: 54px 0 0 0;
}

.analysis{
  background-image: url("/analytBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 816px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0 0 0;
}

.header{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  margin: 15px 0 20px;
}

.description{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
  max-width: 734px;
  margin: 0 0 20px;
}