.questions{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/questionsBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 671px;
}

/*.bg{
  position: absolute;
  top: 30px;
  width: 200%;
  background-color: #1A1D1F;
  z-index: 0;
  min-height: 600px;
  transform: rotate(5deg);
}*/

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.header{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 20px;
  letter-spacing: -1px;
  color: rgba(255, 255, 255, 0.9);
  margin: 83px 0 25px;
}

.regButton{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #6666FF;
  border: 1px solid #737EFF;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 8px 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

.sample{
  background: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 655px;
  min-height: 58px;
  margin-bottom: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:nth-last-of-type(2){
    margin-bottom: 38px;
  }
  &:last-of-type{
    margin-bottom: 38px;
  }
  &:last-of-type &__text{
    line-height: 24px;
    letter-spacing: unset;
    max-width: 530px;
  }
  &__text{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    margin: 16px 0 16px 13px;
  }

  &__expand{
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 0 0 20px;
    cursor: pointer;
  }
}