.footer{
  display: flex;
  justify-content: center;
  margin: 60px 0 52px;
}

.logo{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F3F3F3;
}

.linkList{
  list-style-type: none;
  padding: 0;
  margin-left: 285px;
}

.linkRow{
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:last-of-type{
    margin-bottom: 0;
  }
}

.link{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.contact{
  margin-left: 170px;

  &__header{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 16px;
  }

  &__type{
    &:first-of-type{
      margin-bottom: 50px;
    }
  }
}

.socialBlock{
  display: grid;
  grid-gap: 23px;
  grid-template-columns: 46px 46px 46px;
}

.social{
  width: 46px;
}

.form{
  &__input{
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #4A90E2;
    box-sizing: border-box;
    border-radius: 4px;
    height: 45px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4A90E2;
    padding-left: 15px;
    outline: none;
    &::placeholder{
      color: #4A90E2;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
    }
  }
  &__submit{
    background: #4A90E2;
    border-radius: 4px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    text-transform: uppercase;
    padding: 12.5px 9px;
    margin: -1px 0 0 -5px;
    cursor: pointer;
    outline: none;
  }
}