.scope{
  max-width: 1080px;
  display: flex;
  flex-direction: column;
}

.line{
  width: 48px;
  height: 4px;
  background: #5039E5;
}

.header{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #EDF6FA;
}

.description{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #B8CCD9;
  max-width: 792px;
}

.pic{
  max-width: 1080px;
}