.textContent{

}

.line{
  width: 48px;
  height: 4px;
  background: #5039E5;
}

.header{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  text-transform: uppercase;
  color: #EDF6FA;
  margin: 12px 0 20px;
}

.text{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #B8CCD9;
  margin-bottom: 20px;
}

.link{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #737EFF;
  text-decoration: none;
}