.navBar{
  display: flex;
  align-items: center;
  width: 73%;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 14px 0;

  &__list{
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    width: 440px;
    justify-content: space-between;
  }

  &__column{

  }

  &__header{
    color: #F3F3F3;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }

  &__link{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }

  &__auth{
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #737EFF;
    background: rgba(25, 10, 102, 0.9);
    border: 1px solid #6666FF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 32px;
    cursor: pointer;
    outline: none;
  }
}